body {
  background: #19a297;
  background-image: url("https://wallpaper.dog/large/17014427.jpg");
}

.App {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 54px;
  align-items: center;
}

a {
  color: #000000;
  /* text-decoration: none; */
  background-color: none;
}

h4 {
  margin: 10px;
}

p {
  margin: 4px;
}

.actorsDiv {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
}

.actors {
  /* background: #ffffff; */
  width: 80vw;
  height: 80vh;
  text-align: center;
  /* position: fixed; */
  /* or absolute */
  top: 14vh;
  left: 10vw;
  border-radius: 10px;

  margin: 0;
  padding: 0;
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column;
  flex-wrap: nowrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.actorItem {
  padding: 0;
  margin: 0;
  height: 40vh;
  background: #ffffff35;
}

/* .actorItem:hover { */
/* border: 2px solid #97a6a5;
  height: 38vh; */
/* transform: scale(1.02);
  transition: all 0.2s ease-in-out; */
/* } */

.actorImage {
  border-radius: 8px;
  height: 24vh;
  width: 16vw;
  object-fit: fill;
}

.actorImage:hover {
  transform: scale(1.02);
  transition: all 0.01s ease-in-out;
}

.btn {
  /* background: #70060b5d; */
  background: linear-gradient(
    0deg,
    rgba(195, 34, 34, 0.5) 0%,
    rgba(253, 187, 45, 0.5) 100%
  );
  border: none;
  padding: 2vh 2vw;

  border-radius: 10px;
  cursor: pointer;
  font-size: 2vw;
  text-align: center;
  align-items: center;
  color: #ffffff;

  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  margin-left: 0.5vw;
}

.btn:hover {
  background: linear-gradient(
    0deg,
    rgba(253, 187, 45, 0.5) 0%,
    rgba(195, 34, 34, 0.5) 100%
  );
  transition: all 0.01s ease-in-out;
}

.btnDiv {
  top: 80vh;
}
